<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html">CURRENCY CONVERTER</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#intro">Sobre</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="#feedbacks">Feedbacks</a></li>
          <li><a href="#teams">Nossa equipe</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>