<% if modelo.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

        <ul>
            <% modelo.errors.full_messages.each do |messagem| %>
                <li><%= messagem %></li>
            <% end -%>
        </ul>
    </div>
<% end %>