<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @currency.name %>
</p>
  <strong>Preço da Moeda:</strong>
<td>R$ <%= currency.price %></td>

<%= link_to 'Voltar', currencies_path, class: 'btn btn-primary' %>
