<center>
  <div class="col-xs-12">
    <div class="form-group busca_formulario">
      <%= form_tag(report_report_buy_path, method: :get, class: 'form-inline') do %>
        <label>Data:</label>
        <%= date_field_tag 'search', @date_to_search, class: 'form-control' %>
        <%= submit_tag 'Buscar', class: 'btn btn-default' %>
      <% end %>
      </div>
  </div>
</center>

<%= render partial: 'report/shared/timeline', locals: {date_to_search: @date_to_search, type: @buys, action: 'Compras'} %>
