// Place all the styles related to the Currencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-block {
    display: block;
    width: 50%;
}

.table > tbody > tr > td, .table > tfoot > tr > td{
  vertical-align: unset;
}