<!DOCTYPE html>
<html>
<head>
  <title>Currency Converter - Backoffice</title>
  <%= stylesheet_link_tag    'backoffice', media: 'all' %>
  <%= javascript_include_tag 'backoffice' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "layouts/shared/navigation" %>


</body>
</html>
